@charset "utf-8";
/*
	X Theme Factory HTML 5 Responsive Framework
	Version		: 1.0
	Author		: Angelo Rocha
	URL			: www.angelorocha.com.br
	Contact		: contato@angelorocha.com.br
	License		: GPL V.2.0
*/

/* CSS Document */

/* General containers */
.wrapper{}
.container{max-width:960px;}
/* Header -> two elements -> Two elements, if you want one header 100% place the div.header outside container. */
div.header{margin:0 0 10px 0;}
div.header > header{line-height:90px;}
div.header > header > h1{color:#09C; padding:0 0 0 10px;}
div.header > header > h1 > a{}

/* Slider DIV*/
div.slider{width:auto; height:350px;}

/* All this is necessary for complete customization of the bootstrap menu. This is optional */
div.navbar{}
div.navbar > div.navbar-inner{}
div.navbar > div.navbar-inner > div.nav-collapse{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li{}

div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > a{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li.active > a,
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > a:hover,
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > a:focus{}

div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > .dropdown-toggle{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > a:hover{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > ul.dropdown-menu{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > ul.dropdown-menu > li{}

div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > ul.dropdown-menu > li > a{}
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > ul.dropdown-menu > li > a:hover,
div.navbar > div.navbar-inner > div.nav-collapse > nav.menu > ul.nav > li > ul.dropdown-menu > li:hover > a{}

.dropdown-submenu > .dropdown-menu{}
.dropdown-submenu > .dropdown-menu a{}
.dropdown-submenu > .dropdown-menu a:hover,
.dropdown-submenu > .dropdown-menu li:hover a{}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover{}
/* End Menu */

div.container > .row-fluid > .span3 > aside{}
div.container > .row-fluid > .span3 > aside > h3{}
div.container > .row-fluid > .span3 > aside > ul{}
div.container > .row-fluid > .span3 > aside > ul > li{}

/* Content Zone */
div.content{text-align:justify;}
div.content > section{}
div.content > section > article.content{}
/* End Content Zone*/

/* XOOPS Blocks*/
div.xblock{}
h3.xtitle{font-size:1.2em;}
div.xblock > h3.xtitle{background:#0088CC; font-size:1.2em; line-height:40px; padding:0 0 0 10px; margin:0 0 5px 0; color:#FFF; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
div.xblock > aside{background:#E9E9E9; margin:0 0 10px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; overflow:hidden;}
/*Mainmenu Block*/
ul.mainmenu > li{}
ul.mainmenu > li > ul{ list-style:none; margin:0 0 0 10px; font-size:0.8em; text-align:right;}
/* End XOOPS Blocks*/

/* News Module*/
div.news-item{}
div.news-item > div.navstory{text-align:center;}
article.news-item {margin: 0 0 20px 0; position: relative;}
article.news-item > h2 {margin: 0 0 15px 0; font-size: 1.5em; color: #333; line-height: 1px;}
article.news-item > h3 {margin: 0 0 10px 0; font-size: 1.2em; color: #999; line-height: 20px;}
article.news-item > div.news-info {border-bottom: 1px solid #DDD; margin: 0 0 10px 0;}
article.news-item > strong {}
article.news-item > em {}
article.news-item > a > img.img-polaroid {width: 140px; margin: 0 5px 5px 0;}
article.news-item > div.news-footer {text-align: center; border-top: 1px solid #DDD; margin: 10px 0 0 0; padding: 5px;}
div.news-tools {text-align: right; padding: 5px; margin: -30px 0 0 0;}
div.news-tools a {margin: 0 0 0 10px;}
div.news-file {font-size: 1.1em; border-top: 1px solid #DDD; padding: 5px;}
div.pagenav, #xo-pagenav {text-align: center; padding: 5px;}
#xo-pagenav {margin: 0 0 20px 0;}
div.pagenav a, #xo-pagenav a {background: #FAFAFA; border: 1px solid #DDD; padding: 10px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: all linear 300ms; -moz-transition: all linear 300ms; -webkit-transition: all linear 300ms;}
div.pagenav a:hover, #xo-pagenav a:hover {background: #DDD;	border: 1px solid #FAFAFA; color:#FFF;}
div.news-nav {padding: 5px;	clear: both; font-size: 1.1em;}

/* Tag Module */
div.tagbar {}
div.tagbar > ul {margin: 0;}
div.tagbar > ul > li {display: inline-table; margin: 0 5px 0 0;}
div.tagbar > ul > li:after {content: ", ";}
div.tagbar > ul > li:first-child {font-weight: bold;}
div.tagbar > ul > li:last-child:after, div.tagbar > ul > li:first-child:after {content: "";	margin: 0;}
div.tagbar > ul > li > i {padding: 0 0 0 2px;}
div.tagbar > a {}

/* Footer Zone */
footer.footer{background:#EEE; height:40px; margin:20px 0 0 0;}
footer.footer > h3{font-size:12px; line-height:40px; padding:0 10px 0 10px; text-align:center;}
/* End of Footer*/

/* Super, Incredible, Unbelievable Bootstrap hack for align many spans side by side >.< */
.centerzone [class*="span"]{margin-left:0; margin-bottom:10px;}
.centerzone [class*="span"]:nth-child(odd){float:left;}
.centerzone [class*="span"]:nth-child(even){float:right;}
/* End */

.clear{clear:both;}