@charset "utf-8";
/*
	Theme Factory HTML 5 Responsive Framework
	Version		: 1.0
	Author		: Angelo Rocha
	URL			: www.angelorocha.com.br
	Contact		: contato@angelorocha.com.br
	License		: GPL V.2.0
*/
/* CSS Document */
@import url(css/bootstrap.css);
@import url(css/normalize.css);
@import url(css/xoops.css);
.admin-top{}

.admin-top a.brand{
	font-size:1.2em;	
}
.admin-top i{
	padding:0 0 0 5px;
}
.wrapper{
	margin-top:40px;
}
.container {
}

.container > header > h1{
	margin:0;
	font-size:3.5em;
	line-height:100px;
}

.container > header > .span5{ /*Width: 470px*/
	height:auto;
	margin:20px 0 0 0;
	text-align:center;
}
.xoops-banner{
	overflow:hidden;
}
.content{
}
.globalnav{
	position:relative;
}
.searchform{
	position:absolute;
	top:5px;
	right:0;
}
footer.footer{
	background:#FAFAFA;
	border:1px solid #DDD;
	text-align:center;
	margin:0 0 20px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
footer.footer > em{
	line-height:40px;
}
.clear{
	clear:both;
}